body,ul,li,ol,form,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    padding: 0px;
    margin: 0px;
    color: #666;
    font:  12px/1.5 arial,tahoma,宋体;
}
p{
    margin: 0px;
}
ul,li{
    list-style: none;
}
img{
    border: 0px;
}
i{
    background: no-repeat url(../images/npbg.png);
}
a{
    color: #666;
    text-decoration: none;
    font:  12px/1.5 arial,tahoma,宋体;
}
/*头部*/
.header{
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #eee;
    background-color: #f5f5f5;
}
.header-center{
    width: 1190px;
    margin: 0 auto;
    height: 35px;
}
.header-center a:hover{
    color: #F60;
    text-decoration: underline;
}
/*header 左边*/
.header-left{
    float: left;
}
.header-left li{
    float: left;
    line-height: 35px;
    position: relative;
}
.header-nav{
    width: 65px;
    padding: 0 5px;
}
.header-xiaoxi{
    padding: 0 10px;
}

/*头部左边隐藏*/

/*导航隐藏*/
.header-nav-h{
    position: absolute;
    background-color: #FFFFFF;
    top: 36px;
    width: 986px;
    /*border-bottom: 1px solid #eee;*/
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    height: 0px;
    overflow: hidden;
    left: 0px;
    z-index: 10;
}
.header-nav-h dl{
    width: 176px;
    border-right: 1px solid #eee;
    float: left;
    padding-left: 20px;
    margin: 20px 0;
}
dl[class=dl-last]{
    border-right: 0px;
}
.header-nav-h dl dd{
    overflow: hidden;
}
.header-nav-h dl dt{
    height: 25px;
    line-height: 17px;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    color: #333333;
}
.header-nav-h dl dd p{
    width: 78px;
    height: 25px;
    float: left;
    line-height: 25px;
}
/*end*/
/*消息隐藏开始*/
    .header-xiaoxi-h{
        width: 187px;
        position: absolute;
        height: 0px;
        top: 36px;
        left: 0px;
        border-bottom: 0px solid #eeeeee;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        overflow: hidden;
        background-color: #FFFFFF;
    }
    .header-xiaoxi-h-a{
        padding: 19px 15px;
        border-bottom: 1px solid #eee;
    }
    .header-xiaoxi-h-a i{
        width: 34px;
        height: 34px;
        display: block;
        background-position: -34px -292px;
        float: left;
        margin-right: 20px;
    }
    .header-xiaoxi-h-b{
        height:26px ;
        line-height: 26px;
        text-align: right;
        margin-right: 10px;
    }
/*end*/
/*header 右边*/
.header-right{
    float: right;
    margin-right: 20px;
}
.header-right li{
    float: left;
    padding: 0 10px;
    line-height: 35px;
    position: relative;
}
.header-right .login{

}
.login a:hover{
    background-color: #eee;
}
.login .log-in{
    margin: 0 5px;
}
/*订单下拉开始*/
.dingdan-h{
    width: 81px;
    position: absolute;
    top: 36px;
    left: 0px;
    border-bottom: 0px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    height: 0px;
    overflow: hidden;
    background-color: #FFFFFF;
    z-index: 10;
}
.dingdan-h a{
    display: block;
    padding-left:10px ;
    height: 30px;
    line-height: 30px;
}
/*订单end*/

/*右边end*/

/*搜索开始*/
    .search{

    }
    .search-center{
        width: 1190px;
        height: 110px;
        margin: 0 auto;
        overflow: hidden;
    }
    .search-logo{
        width: 190px;
        height: 90px;
        background: no-repeat url(../images/npbg.png) -84px -248px;
        float: left;
    }
    .search-banner1{
        float: left;

    }
    /*s搜索框*/
        .search-main{
            width: 600px;
            margin-top: 28px;
            float: left;
        }
        .search-main form{
            overflow: hidden;
        }
        .outbox{
            width: 468px;
            padding-left: 30px;
            border-style: solid;
            border-color:  #FA0;
            border-width:2px 0 2px 2px ;
            float: left;
        }
        .outbox>input{
            border: 0px;
            padding: 8px 10px 8px 0;
            height: 18px;
            width: 458px;
        }
    .tijiao{
        border:0;
        width: 100px;
        height: 38px;
        text-align: center;
        line-height: 38px;
        background-color:#FA0;
        float: left;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 16px;
    }
    /*搜索框下面的小字*/
        .search-bottom{
            margin-top: 5px;
            height: 18px;
            line-height: 18px;
            overflow: hidden;
        }
        .search-bottom a{
            float: left;
            padding-right:10px ;

        }
        /*小字end*/
    .search-right{
        float: left;
        margin-top: 10px;
        margin-left: 40px;
    }
    /*搜索框结束*/
/*end*/
/*导航start*/
#nav{
    height: 36px;
    /*float: left;*/
    /*width: 1190px;*/
    /*margin:  auto;*/
    border-bottom: 2px solid #333333;

}
.main-nav-center{
    width: 1190px;
    margin: 0 auto;
    position: relative;
    height: 36px;
    /*float: left;*/
    /*margin: auto;*/
}
/*中间的导航start*/
.zhong-nav{
    height: 36px;
    line-height: 36px;
    margin-left: 190px;
    float: left;
    /*为什么父元素要浮动*/
}
.zhong-nav a{
    font-size: 15px;
    float: left;
    padding: 0 10px;
    /*height: 36px;*/
    line-height: 36px;
    color: #333333;
}
/*zhong 导航 end*/

.nav-xxright{
    float: left;
    line-height: 40px;
    margin-left: 220px;
}
.nav-xxright a{
    color: #F90;
}


/*left-nav start*/
.left-nav{
    width: 190px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    padding-bottom: 8px;
    background: #2B2B2B;
}
.left-nav .first-lists a{
    display: block;
    width: 180px;
    padding-left: 10px;
    line-height: 36px;
    font-size: 14px;
    background-color:#FFAA00;
    color: #FFFFFF;
    font-weight: bolder;
}
.left-nav-lists{
    height: 32px;
    line-height: 32px;
    background-color: #2B2B2B;
    padding-left: 10px;
    border-top:1px solid #333;
    border-bottom: 1px solid #252525;

}
.left-nav-lists a{
    color: #FFFFFF;
    /*display: inline-block;*/
    padding: 0 3px;
}
.left-nav-lists em{
    color: #FA0;
    font-size: 16px;
}

/*left-nav end*/

/*导航end*/


/*banner  start*/

#banner{
    height: 450px;
    width: 100%;
    /*overflow: hidden;*/
    background-color: #FFD801;
    position: relative;

}
.banner-show{
    width: 750px;
    height: 450px;
    margin: auto;
    position: relative;
}

.banner-pic{
    position: absolute;
    top: 0;
    left: 0;
}
.banner-pic:first-child{
    z-index: 1;
}
.banner-ctr{
    width: 810px;
    height: 40px;
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 50%;
    margin-left: -395px;

}
.banner-ctr-list{
    width: 71px;
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: center;
    margin-left: 1px;
    position: relative;
}
.banner-ctr-list .bg{
    background-color: rgba(0,0,0,0.3);

    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 71px;
}
.banner-ctr-list h4{
    color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    width: 71px;
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.ctr-dot{
    position: absolute;
    top: -6px;
    line-height: 4px;
    text-align: center;
    width: 71px;
    display: none;
}
.ctr-dot i{
    width: 8px;
    height: 4px;
    margin: 0 2px;
    display: inline-block;

}
.ctr-dot .hot{
    background: #FA0 none;
}

/*ctr-item  start*/
.ctr-item{
    width: 223px;
    position: absolute;
    bottom: 40px;
        overflow: hidden;
    z-index: 1;
    padding: 8px 8px 8px 0;
    display: none;
}
.ctr-item p{
    height: 18px;
    line-height: 18px;
    margin-bottom: 6px;
    text-align: left;
}
.item-bg{
    width: 223px;
    background:rgba(0,0,0,0.6);
    height: 200px;
    position: absolute;
    top: 0px;
    z-index: 1;
}
.ctr-item p i{
    width: 8px;
    height: 4px;
    margin: 0 6px 0 12px;
    display: inline-block;
    background: #FFFFFF;
    vertical-align: middle;
}
.item-list{
    position: relative;
    top: 0px;
    z-index: 3;
}
.ctr-item p a{
    color: #FFFFFF;
}
/*ctr-item end*/
/*left right  start*/
.banner-btn{
    width: 785px;
    height: 84px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 5;
}
.btn-left{
    width: 50px;
    height: 84px;
    background-color: #000000;
    opacity: 0.15;
    float: left;
}
.left-icon{
    width: 17px;
    height: 34px;
    background: no-repeat url("../images/left-s.png") -31px 0;
    position: absolute;
    top: 0px;
    left: 16px;
    bottom: 0px;
    /*right: 0px;*/
    margin: auto;
}
.right-icon{
    width: 17px;
    height: 34px;
    background: url("../images/left-s.png") -51px 0;
    position: absolute;
    top: 0px;
    /*left: 0px;*/
    bottom: 0px;
    right: 16px;
    margin: auto;
}
.btn-right{
    width: 50px;
    height: 84px;
    background-color: #000000;
    opacity: 0.15;
    float: right;
}
/*左右按钮 end*/


/*show-case start*/
.show-case{
    width: 190px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    right: 70px;
    height: 430px;
}
.case-title{
    padding-left:14px ;
    height: 40px;
    border-bottom: 1px solid #eee;
    width: auto;
    line-height: 40px;
    background-color: #FFFFFF;
}
.case-title i{
    width: 16px;
    height: 16px;
    display: inline-block;
    background:url("../images/left-s.png") 0 -32px;
    vertical-align: middle;
}
.case-title em{
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}
.case-title a{
    display: inline-block;
    font: 12px  宋体;
    margin-left: 92px;
}

.case-notice{
    width: 190px;
    height: 145px;
    padding-top: 10px;
    background-color: #E7F1FF;
}
.case-notice li{
    margin: 0 9px 9px 15px;
    height: 18px;
}
.case-notice li i {
    background: none;
    font-style: normal;
}
.case-notice li em{
    font-style: normal;
}
.notice-hot a{
    color:#f60;
}
.life-assite{
    height: 40px;
    border: 1px solid #eeeeee;
    line-height: 40px;
    padding-left: 15px;
    background-color: #FFFFFF;
}
.life-assite em{
    font-style: normal;
    vertical-align: middle;
    color: #333333;
    font-size: 14px;
}
.life{
    width: 192px;
    overflow: hidden;
    background-color: #FBFAF8;
}
.life li {
    width: 63px;
    height: 63px;
    float: left;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}
.life a{
    text-align: center;
    display: block;

}
.life a em{
    display: block;
    padding-top: 2px;
    font-size: 26px;
}
.life a b{
    display: block;
    height: 35px;
    line-height: 42px;
}
/*show-case end*/
/*banner end*/

/*enter-c start*/
.enter-c{
    width: 100%;
    height: 520px;
    background: no-repeat url(../images/bbg.jpg) -280px 0;
}
.enter-center{
    width: 1190px;
    margin: auto;
    position: relative;
}
.enter-hui{
    float: left;
    margin: 40px 0 0 190px;
}
.enter-hui li{
    float: left;
    width: 190px;
    height: 140px;
    margin: 0px 0px 10px 10px;
}
.enter-pindao{
    width: 1190px;
    overflow: hidden;
}
.enter-pindao li{
    float: left;
}
.lianjie{
    width: 165px;
    height: 35px;
    position: absolute;
    top: 95px;
    left: 10px;
    display: block;
}
/*enter-c end*/


/*楼层 floor  start*/
.tese{
    width: 1190px;
    margin: 20px auto 0;
    position: relative;
    overflow: hidden;
}
.f-title{
    width: 190px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}
.t-title h3{
    float: left;
    font: bold 20px/40px "microsoft yahei";
    color: #222222;
}
.t-title h4{
    float: left;
    margin-left: 6px;
    font: 12px arial;
    line-height: 40px;
}
.cola{
    float: left;
    width: 188px;
    height: 378px;
    position: relative;
    top: 40px;
    border: 1px solid #eeeeee;

}
.colb{
    width: 420px;
    position: relative;
    top: 20px;
    float: left;
    overflow: hidden;

}
.colb-a{
    width: 20px;
    height:20px;
    position: absolute;
    top: 0;
    right: 0;
    background: no-repeat url(../images/ju-arrow.png);
    z-index: 2;
}
.colb-b{
    width: 420px;
    height: 210px;
    overflow: hidden;
}
.colb-c{
    width: 420px;
    height: 190px;
    overflow: hidden;
}

.colc{
    width: 398px;
    height: 378px;
    float: left;
    position: relative;
    top: 40px;
    left: -20px;
    border: 1px solid #eeeeee;
}
.colc li{
    float: left;
    width:199px ;
    height: 189px;
    overflow: hidden;
}

.cold{
    width: 199px;
    height: 378px;
    border: 1px solid #eeeeee;
    border-left: 0;
    float: left;
    margin-top: 40px;
    margin-left: -20px;
    overflow: hidden;
}
.cold li{
    width: 190px;
    height: 95px;
    border-bottom: 1px solid #eeeeee;
}
/*floor end*/

/*苏宁金融 start*/
.jinrong{
    width: 1190px;
    margin: 20px auto 0;
}
.j-title{
    overflow: hidden;
}
.finace-ban{
    height: 240px;
    background-color: #F8F8F8;
}
.finace-b{
    float: left;
}
.finace-ban-c{
    padding-top: 10px;
    width: 410px;
}
.finace-ban-c li{
    float: left;
    margin-left: 10px;
}

.finace-ban-d{
    padding-top: 10px;
    width: 180px;
}
.finace-ban-d li{
    margin-bottom: 10px;
}
/*end*/

/*楼层  start*/
.ff{
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
}
.ff-header{
    width: 1190px;
    height: 40px;
    overflow: hidden;
}
.t-title b{
    margin-right: 20px;
}
.ff-title{
    overflow: hidden;
    width: 190px;
    float: left;
}
.ff-tab{
    height: 37px;
    margin-top: 11px;
    overflow: hidden;
    float: left;
}
.ff-tab li{
    float: left;
    margin-right: 50px;

}
.ff-tab li a{
    color:#666;
    font-size: 14px;
}
.on{

    border-bottom: 3px  solid #FF6B80;
}
.ff-tab .on a{
    color: #222222;
    font-weight: bolder;
}
.ff-link{
    width: 750px;
    height: 30px;
    margin-top: 18px;
    line-height: 30px;
    float: right;
}
.ff-link a{
    display: inline-block;
    height: 30px;
    margin-left: 16px;
    float: right;
    text-align: center;
}



/*floor left  start*/

.ff-left{
    width: 190px;
    height: 440px;
    background: #FFD4C1;
    position: relative;
    float: left;
}
.ff-leftbott{
    width: 170px;
    height: 160px;
    overflow: hidden;
    margin: 0 auto;
}
.ff-leftbott li{
    width: 84px;
    height: 53px;
    border-bottom: 1px solid #eeeeee;
    background-color: #FFFFFF;
    float: left;
}
.ff-leftbott li a{
    display: block;
    padding-top: 12px;
}
.ff-left-p{
    width: 175px;
    height: 61px;
    overflow: hidden;
    position: absolute;
    top: 210px;
    left: 10px;

}
.ff-left-p a{
    width: 85px;
    height: 30px;
    margin: 0 1px 1px 0;
    float: left;
    text-align: center;
    line-height: 30px;
    background-color: #CF3C47;
    opacity: 0.8;
    color: #FFFFFF;

}
/*floor  left   end*/
/*floor right start*/
.ff-right{
    width: 1000px;
    float: left;
}
.ff-right-t{
    padding-top: 10px;
    overflow: hidden;
    height: 220px;
}
.ff-right-t li{
    padding: 0 5px;
    float: left;
    width: 189px;
    height: 198px;
    border-right: 1px solid #eeeeee;
}
.ff-right-t li p:first-child{
    padding-top: 22px;
    text-align: center  ;
}
.ff-right-text{
    padding-top: 14px;
    height: 17px;
    overflow: hidden;
}
.ff-right-price{
    text-align: center;
    color: #222222;
}
.ff-right-price i{
    background: none;
    font-family: arial;
}
.ff-right-price span{
    font-weight: bold;
    font-size: 20px;
    font-family: tahoma;
    color: #222222;
    margin-left:5px;
}
/*floor right end*/
/*  floor end*/


/*footer  start*/
.footer{
    height: 254px;
    background-color: #F5F5F5;
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #E7E7E7;
}
.footer-center{
    width: 1190px;
    margin: auto;
}
.footer-top{
    width: 1250px;
    padding: 12px 0;
    overflow: hidden;
}
.footer-top dl{
    width: 250px;
    overflow: hidden;
    float: left;
}
.footer-top dl dt{
    width: 48px;
    height: 48px;
    background:no-repeat url("../images/npbg.png");
    float: left;
    margin-right: 10px;

}
.footer-top dl dd a{
    color: #545454;
    font-weight: 700;
}
.footer-top dl dd{
    height: 48px;
    line-height: 48px;
    float: left;
}
.footer-top dl dd p{
    line-height: 24px;
}
.footer-top  .jswl dt{
    background-position: -48px 0;
}
.footer-top  .wysh dt{
    background-position: -96px 0;
}
.footer-top  .tsfw dt{
    background-position: -144px 0;
}
.footer-top  .bzzx dt{
    background-position: -192px 0;
}

/*footer-bottom start*/
.footer-bottom{
    overflow: hidden;
    border-top: 1px solid #E7E7E7;
}
.footer-bottom dt{
    line-height: 35px;
    color: #545454;
    font-weight: 700;
}
.footer-bottom dd{
    line-height: 22px;
}
.footer-bottom dl{
    width: 210px;
    float: left;
}
.saoyi{
    width: 90px;
    float: left;
}
.saoyi p{
    line-height: 35px;
    color: #545454;
    font-weight: 700;
}
/*footer-bottom end*/


/*footer end*/


/**********copyright  start888*/
.copyright{
    background-color: #33302B;
    height: 260px;
}
.copyright-top{
    width: 1190px;
    margin: auto;
    height: 125px;
}
.copyright-top>dl{
    width: 324px;
    height: 100px;
    margin-top: 12px;
    padding: 0 50px;
    overflow: hidden;
    float: left;
}
.copyright-top>dl:first-child{
    padding-left: 0px;
}
.copyright-top>dl dt {
    width: 80px;
    height: 80px;
    padding-top: 10px;
    float: left;
}
.copyright-top>dl dd{
    float: left;
    width: 224px;
    margin-top: 12px;
    color: #eeeeee;
    margin-left: 20px;
}
.copyright-top>dl dd a{
    color: #eeeeee;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
}
.shenbian{
    float: left;
}
.shenbian dt{
    width: 100px;
    height: 94px;
    background:no-repeat url("../images/npbg.png") -40px -49px;
    margin-top: 10px;
    float: left;
}
.shenbian dd{
    float: left;
    width: 224px;
    margin-top: 22px;
    color: #eeeeee;
    margin-left: 20px;

}
.shenbian dd p a{
    color: #eeeeee;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
}
.shenbian dd>a{
    display: inline-block;
    width: 105px;
    height: 25px;
    background: no-repeat url("../images/npbg.png") -140px -49px;
    margin-top: 5px;
}
.copyright-bottom{
    width: 1190px;
    margin: auto;
    padding-top: 15px;
}
.copyright-bottom span{
    padding: 0 8px;
}
.copyright-bottom p{
    line-height: 25px;
    margin-top: 5px;
}
.copyright-bottom p a{
    color: #FFFFFF;
}
.copyright-bottom p span{
    color: #888;
}
.copyright-bottom p span a{
    color: #666666;
}

.footer-img a{
    display: inline-block;
    margin-right: 5px;
}
/*footer  end*/

/*fixed  start*/
.floor-guide{
    width: 32px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 200;
    margin-top: -240px;
    margin-left:-650px ;
    display: none;
}
.floor-guide li{
    width: 32px;
    height: 40px;
    border-bottom: 1px solid #DDDDDD;
    background: #F4F4F4 ;
    text-align: center;
    line-height: 20px;
}
.floor-guide li a:first-child{
    display: none;

}
.floor-guide li a:last-child{
    text-align: center;
    line-height: 40px;
    display: inline-block;
}
/*fixed   end*/

/*recommend start*/
.recommend{
    width: 1190px;
    margin: auto;
}
.recommend-header{
    height: 38px;
        overflow: hidden;
}
.recommend h3{
    line-height: 38px;
    font-size: 20px;
    color: #222222;
    font-weight: bold;
    width: 300px;
    float: left;
}
.recommend-header  a{
    float: right;
    line-height: 55px;
}
.recommend-comment{
    overflow: hidden;
    height: 258px;
    border: 1px solid #F0F0F0;
}

.recommend-comment li{
    padding: 20px 0;
    float: left;
    width: 199px;
    height: 220px;
    text-align: center;
    position: relative;
    margin-left: -1px;
}
.recommend-comment li p{
    padding: 0 25px;
    text-align: left;
}
.recommend-comment li p a{
    height: 14px;
    line-height: 14px;
    display: block;
    color: #999;
    overflow: hidden;
}
.recommend-comment-box{
    padding: 20px 0 5px;
    overflow: hidden;


}
.recommend-comment-box img{
    display: block;
    margin: auto;

}
.recommend-comment-box a{
    display: block;
}

.recommend-comment li p em{
    color: #333333;
    margin-right: 5px;
}
.recommend-comment  p b{
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}
.recommend-comment  p span{
    font-size: 14px;
    font-weight: bold;
}
.recommend-comment li>em{
    padding: 0 4px;
    background-color: #F70;
    color: #FFFFFF;
    position: absolute;
    bottom: 18px;
    left: 140px;
}
/*recommend end*/